body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #38819A;
	height: 3em;
	color: #FFF;
    padding: 15px 0;
}

header h1{
    text-align:center;
    margin:auto;    
    font-size: 2em;
    
}

.container{   
    padding: 4px 0;
	height: 100%;	
} 

.imc{	
	width: 75%;
	
	margin: 10px auto;	
}

.imc tr th{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #4b4949;
	/* border: 2px solid #000000; */
	background-color: #EEEEEE;
}

.imc th, td{
	border: 2px solid #CCCCCC;
	padding: .7em;
	margin: 0;
}

.numerico{
	text-align: right;
}

.acoes{
	
}

.eye{
	vertical-align: middle;
	width: 35px;
	height: 32px;
}