/* *{
	box-sizing: border-box;
} */

body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #38819A;
	height: 3em;
	color: #FFF;
    padding: 15px 0;
}

header h1{
    text-align:center;
    margin:auto;    
    font-size: 2em;    
}

main{
	width: 940px;
	margin: auto;
} 

.container{   
    padding: 4px 0;
	width: 100%;	
	margin: 0 auto;
} 

.container h2{
	font-size: 1.5em;
	color: #4b4949;
	font-weight: bold;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}



.tabela-imc{	
	/* width: 100%;	
	margin: 25px auto;	 */

	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

.tabela-imc tr th{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #4b4949;
	/* border: 2px solid #000000; */
	background-color: #EEEEEE;
}

.tabela-imc th, td{
	border: 2px solid #CCCCCC;
	padding: .4em;
	margin: 0;
}

.paciente .imc, .peso, .altura, .gordura{
	text-align: right;
}

 .info, .delete{
	text-align: center;
}

